blis==0.7.4
cachetools==4.2.0
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cymem==2.0.5
Flask==1.1.2
gevent==20.9.0
google-api-core==1.23.0
google-auth==1.24.0
google-cloud-bigquery==2.6.1
google-cloud-core==1.4.4
google-cloud-logging==2.0.1
google-cloud-pubsub==2.2.0
google-cloud-storage==1.34.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
greenlet==0.4.17
grpc-google-iam-v1==0.12.3
grpcio==1.34.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
langdetect==1.0.8
libcst==0.3.15
MarkupSafe==1.1.1
murmurhash==1.0.5
mypy-extensions==0.4.3
numpy==1.19.4
packaging==20.9
pandas==1.1.5
pathy==0.4.0
preshed==3.0.5
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.16.0
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
rsa==4.6
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
thinc==8.0.2
threadpoolctl==2.1.0
tqdm==4.59.0
typer==0.3.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
wasabi==0.8.2
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
